In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime
from datetime import datetime, date

In [3]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
import csv

In [6]:
with open('Data/msft.csv') as file:
    reader = csv.reader(file, delimiter=',')
    for i, row in enumerate(reader):
        print(row)
        if i >= 5:
            break

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
['7/21/2014', '83.46', '83.53', '81.81', '81.93', '2359300']
['7/18/2014', '83.3', '83.4', '82.52', '83.35', '4020800']
['7/17/2014', '84.35', '84.63', '83.33', '83.63', '1974000']
['7/16/2014', '83.77', '84.91', '83.66', '84.91', '1755600']
['7/15/2014', '84.3', '84.38', '83.2', '83.58', '1874700']

In [7]:
msft = pd.read_csv('Data/msft.csv')
msft.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [8]:
msft = pd.read_csv('Data/msft.csv', index_col=0)
msft.head()

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [9]:
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [10]:
msft = pd.read_csv('Data/msft.csv', header=0, names=['date', 'open', 'high', 'low', 'close', 'volume'])
msft.head()

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [11]:
df2 = pd.read_csv('Data/msft.csv', usecols=['Date', 'Close'], index_col=['Date'])
df2.head()

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [12]:
df2.to_csv('Data/msft_modified.csv', index_label='date')

In [13]:
df = pd.read_csv('Data/msft.csv')
df.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [14]:
df = pd.read_table('Data/msft.csv', sep=',')
df.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [15]:
df.to_csv('Data/msft_piped.txt', sep='|')

In [16]:
df = pd.read_csv('Data/msft2.csv', skiprows=[0, 2, 3])
df.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [17]:
pd.read_csv('Data/msft_with_footer.csv', skipfooter=1, engine='python')

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [18]:
pd.read_csv('Data/msft.csv', skiprows=100, nrows=5, header=0, names=['date', 'open', 'high', 'low', 'close', 'vol'])

        date   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

In [20]:
df = pd.read_excel('Data/stocks.xlsx', sheet_name='aapl')

In [21]:
import json
from pprint import pprint

In [22]:
with open('Data/stocks.json') as file:
    data = json.load(file)
pprint(data)

{'Close': {'0': 81.93, '1': 83.35, '2': 83.63, '3': 84.91, '4': 83.58},
 'Date': {'0': 1405900800000,
          '1': 1405641600000,
          '2': 1405555200000,
          '3': 1405468800000,
          '4': 1405382400000},
 'High': {'0': 83.53, '1': 83.4, '2': 84.63, '3': 84.91, '4': 84.38},
 'Low': {'0': 81.81, '1': 82.52, '2': 83.33, '3': 83.66, '4': 83.2},
 'Open': {'0': 83.46, '1': 83.3, '2': 84.35, '3': 83.77, '4': 84.3},
 'Volume': {'0': 2359300,
            '1': 4020800,
            '2': 1974000,
            '3': 1755600,
            '4': 1874700}}

In [23]:
!python --version

Python 3.10.6

In [24]:
import html5lib

In [27]:
# url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

In [30]:
banks = pd.read_html(url)
banks[0].head().iloc[:, 0:2]

                      Bank NameBank           CityCity
0                 Almena State Bank             Almena
1        First City Bank of Florida  Fort Walton Beach
2              The First State Bank      Barboursville
3                Ericson State Bank            Ericson
4  City National Bank of New Jersey             Newark

In [31]:
import webbrowser

In [33]:
webbrowser.open('Data/stocks.html')

True

In [ ]:
184