In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime
from datetime import datetime, date

In [9]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [70]:
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3),
                 index=['a', 'b', 'c', 'd', 'e'],
                 columns=['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [72]:
df['c4'] = np.nan
df

   c1  c2  c3  c4
a   0   1   2 NaN
b   3   4   5 NaN
c   6   7   8 NaN
d   9  10  11 NaN
e  12  13  14 NaN

In [73]:
df.loc['f'] = np.arange(15, 19)
df

   c1  c2  c3    c4
a   0   1   2   NaN
b   3   4   5   NaN
c   6   7   8   NaN
d   9  10  11   NaN
e  12  13  14   NaN
f  15  16  17  18.0

In [74]:
df.loc['g'] = np.nan
df

     c1    c2    c3    c4
a   0.0   1.0   2.0   NaN
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [75]:
df['c5'] = np.nan
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   NaN NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [76]:
df['c4']['a'] = 20
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [77]:
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

In [78]:
df.isna()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

In [79]:
df.isnull().sum()

c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

In [80]:
df.isnull().sum().sum()

15

In [81]:
df.count()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [84]:
(len(df) - df.count()).sum()

15

In [85]:
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

In [92]:
df[df['c4'].notnull()]['c4']

a    20.0
f    18.0
Name: c4, dtype: float64

In [95]:
df.dropna()

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [97]:
df.loc['d', 'c5'] = True

In [98]:
df

     c1    c2    c3    c4    c5
a   0.0   1.0   2.0  20.0   NaN
b   3.0   4.0   5.0   NaN   NaN
c   6.0   7.0   8.0   NaN   NaN
d   9.0  10.0  11.0   NaN  True
e  12.0  13.0  14.0   NaN   NaN
f  15.0  16.0  17.0  18.0   NaN
g   NaN   NaN   NaN   NaN   NaN

In [99]:
df.dropna()

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [101]:
df.loc['g', 'c3'] = True

In [102]:
df

     c1    c2    c3    c4    c5
a   0.0   1.0   2.0  20.0   NaN
b   3.0   4.0   5.0   NaN   NaN
c   6.0   7.0   8.0   NaN   NaN
d   9.0  10.0  11.0   NaN  True
e  12.0  13.0  14.0   NaN   NaN
f  15.0  16.0  17.0  18.0   NaN
g   NaN   NaN  True   NaN   NaN

In [103]:
df.dropna()

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [106]:
df.loc['d', 'c4'] = True

In [107]:
df.drop

     c1    c2    c3    c4    c5
a   0.0   1.0   2.0  20.0   NaN
b   3.0   4.0   5.0   NaN   NaN
c   6.0   7.0   8.0   NaN   NaN
d   9.0  10.0  11.0  True  True
e  12.0  13.0  14.0   NaN   NaN
f  15.0  16.0  17.0  18.0   NaN
g   NaN   NaN  True  True   NaN

In [117]:
df.dropna(subset=['e'], axis=1)

     c1    c2    c3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
c   6.0   7.0   8.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0
g   NaN   NaN  True

In [118]:
fill_values = pd.Series([100, 101, 102], index=['a', 'e', 'g'])
fill_values

a    100
e    101
g    102
dtype: int64

In [119]:
df['c4'].fillna(fill_values)

a     20.0
b      NaN
c      NaN
d     True
e    101.0
f     18.0
g     True
Name: c4, dtype: object

In [120]:
df

     c1    c2    c3    c4    c5
a   0.0   1.0   2.0  20.0   NaN
b   3.0   4.0   5.0   NaN   NaN
c   6.0   7.0   8.0   NaN   NaN
d   9.0  10.0  11.0  True  True
e  12.0  13.0  14.0   NaN   NaN
f  15.0  16.0  17.0  18.0   NaN
g   NaN   NaN  True  True   NaN

In [121]:
df.fillna(df.mean())

     c1    c2    c3    c4    c5
a   0.0   1.0   2.0  20.0   1.0
b   3.0   4.0   5.0  10.0   1.0
c   6.0   7.0   8.0  10.0   1.0
d   9.0  10.0  11.0  True  True
e  12.0  13.0  14.0  10.0   1.0
f  15.0  16.0  17.0  18.0   1.0
g   7.5   8.5  True  True   1.0

In [122]:
s = pd.Series([1, np.nan, np.nan, np.nan, 3])
s

0    1.0
1    NaN
2    NaN
3    NaN
4    3.0
dtype: float64

In [123]:
s.interpolate()

0    1.0
1    1.5
2    2.0
3    2.5
4    3.0
dtype: float64

In [124]:
ts = pd.Series([1, np.nan, 2],
              index=[datetime(2014, 1, 1),
                    datetime(2014, 2, 1),
                    datetime(2014, 4, 1)])
ts

2014-01-01    1.0
2014-02-01    NaN
2014-04-01    2.0
dtype: float64

In [125]:
ts.interpolate()

2014-01-01    1.0
2014-02-01    1.5
2014-04-01    2.0
dtype: float64

In [126]:
ts.interpolate(method='time')

2014-01-01    1.000000
2014-02-01    1.344444
2014-04-01    2.000000
dtype: float64

In [127]:
s = pd.Series([0, np.nan, 100], index=[0, 1, 10])
s

0       0.0
1       NaN
10    100.0
dtype: float64

In [128]:
s.interpolate()

0       0.0
1      50.0
10    100.0
dtype: float64

In [129]:
s.interpolate(method='values')

0       0.0
1      10.0
10    100.0
dtype: float64

In [130]:
data = pd.DataFrame({'a': ['x'] * 3 + ['y'] *4,
                    'b': [1, 1, 2, 3, 3, 4, 4]})
data

   a  b
0  x  1
1  x  1
2  x  2
3  y  3
4  y  3
5  y  4
6  y  4

In [131]:
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [132]:
data.drop_duplicates()

   a  b
0  x  1
2  x  2
3  y  3
5  y  4

In [133]:
data.drop_duplicates(keep='last')

   a  b
1  x  1
2  x  2
4  y  3
6  y  4

In [135]:
data['c'] = range(7)
data

   a  b  c
0  x  1  0
1  x  1  1
2  x  2  2
3  y  3  3
4  y  3  4
5  y  4  5
6  y  4  6

In [136]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [138]:
data.drop_duplicates(['a', 'b'])

   a  b  c
0  x  1  0
2  x  2  2
3  y  3  3
5  y  4  5

In [144]:
x = pd.Series({'one': 1, 'two': 2, 'three': 3})
y = pd.Series({1: 'a', 2: 'b', 3: 'c'})
x

one      1
two      2
three    3
dtype: int64

In [140]:
y

1    a
2    b
3    c
dtype: object

In [145]:
x.map(y)

one      a
two      b
three    c
dtype: object

In [146]:
y = pd.Series({1: 'a', 2: 'b',})

In [147]:
x.map(y)

one        a
two        b
three    NaN
dtype: object

In [151]:
s = pd.Series([0., 1., 2., 3., 2., 4.])
s

0    0.0
1    1.0
2    2.0
3    3.0
4    2.0
5    4.0
dtype: float64

In [149]:
s.replace(2, 5)

0    0.0
1    1.0
2    5.0
3    3.0
4    5.0
5    4.0
dtype: float64

In [152]:
s.replace([0, 1, 2, 3, 4], [4, 3, 2, 1, 0])

0    4.0
1    3.0
2    2.0
3    1.0
4    2.0
5    0.0
dtype: float64

In [153]:
s

0    0.0
1    1.0
2    2.0
3    3.0
4    2.0
5    4.0
dtype: float64

In [154]:
s.replace({0: 10, 1: 100})

0     10.0
1    100.0
2      2.0
3      3.0
4      2.0
5      4.0
dtype: float64

In [155]:
df = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9]})
df

   a  b
0  0  5
1  1  6
2  2  7
3  3  8
4  4  9

In [156]:
df.replace({'a': 1, 'b': 8}, 100)

     a    b
0    0    5
1  100    6
2    2    7
3    3  100
4    4    9

In [157]:
s

0    0.0
1    1.0
2    2.0
3    3.0
4    2.0
5    4.0
dtype: float64

In [158]:
s[0] = 10

In [159]:
s

0    10.0
1     1.0
2     2.0
3     3.0
4     2.0
5     4.0
dtype: float64

In [160]:
s.replace([1, 2, 3], method='pad')

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5     4.0
dtype: float64

In [161]:
df = pd.DataFrame(np.arange(12).reshape(4, 3),
                 columns=['a', 'b', 'c'])
df

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [162]:
df.apply(lambda col: col.sum())

a    18
b    22
c    26
dtype: int64

In [ ]:
223