np.array([[sum(x * y) for y in zip(*m2)] for x in m1])

In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime
from datetime import datetime, date

In [3]:
# pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
sensor_data = pd.read_csv('Data/sensors.csv')
sensor_data.head()

   interval sensor axis  reading
0         0  accel    Z      0.0
1         0  accel    Y      0.5
2         0  accel    X      1.0
3         1  accel    Z      0.1
4         1  accel    Y      0.4

In [5]:
grouped_by_sensor = sensor_data.groupby('sensor')
grouped_by_sensor

In [6]:
grouped_by_sensor.ngroups

2

In [7]:
grouped_by_sensor.groups

{'accel': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'orientation': [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]}

In [8]:
def print_groups(grouped_by_sensor):
    for name, group in grouped_by_sensor:
        print(name)
        print(group.head())

In [9]:
grouped_by_sensor.size()

sensor
accel          12
orientation    12
dtype: int64

In [10]:
grouped_by_sensor.count()

             interval  axis  reading
sensor
accel              12    12       12
orientation        12    12       12

In [11]:
grouped_by_sensor.get_group('accel')

    interval sensor axis  reading
0          0  accel    Z      0.0
1          0  accel    Y      0.5
2          0  accel    X      1.0
3          1  accel    Z      0.1
4          1  accel    Y      0.4
5          1  accel    X      0.9
6          2  accel    Z      0.2
7          2  accel    Y      0.3
8          2  accel    X      0.8
9          3  accel    Z      0.3
10         3  accel    Y      0.2
11         3  accel    X      0.7

In [12]:
grouped_by_sensor.nth(1)

             interval axis  reading
sensor
accel               0    Y      0.5
orientation         0    Y      0.1

In [13]:
grouped_by_sensor.describe()

            interval                                           reading  \
               count mean       std  min   25%  50%   75%  max   count
sensor
accel           12.0  1.5  1.167748  0.0  0.75  1.5  2.25  3.0    12.0
orientation     12.0  1.5  1.167748  0.0  0.75  1.5  2.25  3.0    12.0


                 mean       std  min  25%   50%    75%  max
sensor
accel        0.450000  0.328910  0.0  0.2  0.35  0.725  1.0
orientation  0.133333  0.143548  0.0  0.0  0.10  0.225  0.4

In [14]:
mcg = sensor_data.groupby(['sensor', 'axis'])
mcg

In [15]:
print_groups(mcg)

('accel', 'X')
    interval sensor axis  reading
2          0  accel    X      1.0
5          1  accel    X      0.9
8          2  accel    X      0.8
11         3  accel    X      0.7
('accel', 'Y')
    interval sensor axis  reading
1          0  accel    Y      0.5
4          1  accel    Y      0.4
7          2  accel    Y      0.3
10         3  accel    Y      0.2
('accel', 'Z')
   interval sensor axis  reading
0         0  accel    Z      0.0
3         1  accel    Z      0.1
6         2  accel    Z      0.2
9         3  accel    Z      0.3
('orientation', 'X')
    interval       sensor axis  reading
14         0  orientation    X      0.0
17         1  orientation    X      0.1
20         2  orientation    X      0.2
23         3  orientation    X      0.3
('orientation', 'Y')
    interval       sensor axis  reading
13         0  orientation    Y      0.1
16         1  orientation    Y      0.2
19         2  orientation    Y      0.3
22         3  orientation    Y      0.4
('orientation', 'Z')
    interval       sensor axis  reading
12         0  orientation    Z      0.0
15         1  orientation    Z      0.0
18         2  orientation    Z      0.0
21         3  orientation    Z      0.0

In [46]:
mi = sensor_data.copy()
mi = mi.set_index(['sensor', 'axis'])
mi

                  interval  reading
sensor      axis
accel       Z            0      0.0
            Y            0      0.5
            X            0      1.0
            Z            1      0.1
            Y            1      0.4
            X            1      0.9
            Z            2      0.2
            Y            2      0.3
            X            2      0.8
            Z            3      0.3
            Y            3      0.2
            X            3      0.7
orientation Z            0      0.0
            Y            0      0.1
            X            0      0.0
            Z            1      0.0
            Y            1      0.2
            X            1      0.1
            Z            2      0.0
            Y            2      0.3
            X            2      0.2
            Z            3      0.0
            Y            3      0.4
            X            3      0.3

In [17]:
print_groups(mi.groupby(level=0))

accel
             interval  reading
sensor axis
accel  Z            0      0.0
       Y            0      0.5
       X            0      1.0
       Z            1      0.1
       Y            1      0.4
orientation
                  interval  reading
sensor      axis
orientation Z            0      0.0
            Y            0      0.1
            X            0      0.0
            Z            1      0.0
            Y            1      0.2

In [45]:
print_groups(mi.groupby(level=['sensor', 'axis']))

('accel', 'X')
             interval  reading
sensor axis
accel  X            0      1.0
       X            1      0.9
       X            2      0.8
       X            3      0.7
('accel', 'Y')
             interval  reading
sensor axis
accel  Y            0      0.5
       Y            1      0.4
       Y            2      0.3
       Y            3      0.2
('accel', 'Z')
             interval  reading
sensor axis
accel  Z            0      0.0
       Z            1      0.1
       Z            2      0.2
       Z            3      0.3
('orientation', 'X')
                  interval  reading
sensor      axis
orientation X            0      0.0
            X            1      0.1
            X            2      0.2
            X            3      0.3
('orientation', 'Y')
                  interval  reading
sensor      axis
orientation Y            0      0.1
            Y            1      0.2
            Y            2      0.3
            Y            3      0.4
('orientation', 'Z')
                  interval  reading
sensor      axis
orientation Z            0      0.0
            Z            1      0.0
            Z            2      0.0
            Z            3      0.0

In [62]:
sensor_axis_grouping = mi.groupby(['sensor', 'axis'], as_index=False)
# sensor_axis_grouping

In [59]:
sensor_data.groupby(['sensor', 'axis'], as_index=False).agg(np.mean)

        sensor axis  interval  reading
0        accel    X       1.5     0.85
1        accel    Y       1.5     0.35
2        accel    Z       1.5     0.15
3  orientation    X       1.5     0.15
4  orientation    Y       1.5     0.25
5  orientation    Z       1.5     0.00

In [65]:
sensor_axis_grouping.agg([np.sum, np.std])

                 interval           reading
                      sum       std     sum       std
sensor      axis
accel       X           6  1.290994     3.4  0.129099
            Y           6  1.290994     1.4  0.129099
            Z           6  1.290994     0.6  0.129099
orientation X           6  1.290994     0.6  0.129099
            Y           6  1.290994     1.0  0.129099
            Z           6  1.290994     0.0  0.000000

In [66]:
sensor_axis_grouping.agg({'interval': len, 'reading': np.mean})

   interval  reading
0         4     0.85
1         4     0.35
2         4     0.15
3         4     0.15
4         4     0.25
5         4     0.00

In [67]:
sensor_axis_grouping

In [ ]:
258