In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime
from datetime import datetime, date

In [3]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
s1 = pd.Series(np.arange(0, 3))
s2 = pd.Series(np.arange(5, 8))
s1

0    0
1    1
2    2
dtype: int32

In [6]:
s2

0    5
1    6
2    7
dtype: int32

In [7]:
pd.concat([s1, s2])

0    0
1    1
2    2
0    5
1    6
2    7
dtype: int32

In [8]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3),
                  columns=['a', 'b', 'c'])
df1

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [9]:
df2 = pd.DataFrame(np.arange(9, 18).reshape(3, 3),
                  columns=['a', 'b', 'c'])
df2

    a   b   c
0   9  10  11
1  12  13  14
2  15  16  17

In [10]:
pd.concat([df1, df2])

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
0   9  10  11
1  12  13  14
2  15  16  17

In [11]:
df2 = pd.DataFrame(np.arange(9, 18).reshape(3, 3),
                  columns=['a', 'b', 'd'])
df2

    a   b   d
0   9  10  11
1  12  13  14
2  15  16  17

In [12]:
pd.concat([df1, df2])

    a   b    c     d
0   0   1  2.0   NaN
1   3   4  5.0   NaN
2   6   7  8.0   NaN
0   9  10  NaN  11.0
1  12  13  NaN  14.0
2  15  16  NaN  17.0

In [13]:
c = pd.concat([df1, df2], keys=['df1', 'df2'])
c

        a   b    c     d
df1 0   0   1  2.0   NaN
    1   3   4  5.0   NaN
    2   6   7  8.0   NaN
df2 0   9  10  NaN  11.0
    1  12  13  NaN  14.0
    2  15  16  NaN  17.0

In [14]:
c.loc['df2']

    a   b   c     d
0   9  10 NaN  11.0
1  12  13 NaN  14.0
2  15  16 NaN  17.0

In [15]:
pd.concat([df1, df2], axis=1)

   a  b  c   a   b   d
0  0  1  2   9  10  11
1  3  4  5  12  13  14
2  6  7  8  15  16  17

In [16]:
df3 = pd.DataFrame(np.arange(20, 26).reshape(3, 2),
                  columns=['a', 'd'],
                  index=[2, 3, 4])
df3

    a   d
2  20  21
3  22  23
4  24  25

In [29]:
df = pd.concat([df1, df3], axis=1)

In [20]:
pd.concat([df1, df3], axis=1, join='inner')

   a  b  c   a   d
2  6  7  8  20  21

In [25]:
pd.concat([df1, df3], axis=1, join='inner')

   a  b  c   a   d
2  6  7  8  20  21

In [32]:
df = pd.concat([df1, df3], axis=1, keys=['df1', 'df2'])

In [33]:
df.loc[:, 'df2']

      a     d
0   NaN   NaN
1   NaN   NaN
2  20.0  21.0
3  22.0  23.0
4  24.0  25.0

In [34]:
df['df2']

      a     d
0   NaN   NaN
1   NaN   NaN
2  20.0  21.0
3  22.0  23.0
4  24.0  25.0

In [35]:
df1

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [36]:
df2

    a   b   d
0   9  10  11
1  12  13  14
2  15  16  17

In [37]:
df1.append(df2)

C:\Users\Sergey\AppData\Local\Temp\ipykernel_13220\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

    a   b    c     d
0   0   1  2.0   NaN
1   3   4  5.0   NaN
2   6   7  8.0   NaN
0   9  10  NaN  11.0
1  12  13  NaN  14.0
2  15  16  NaN  17.0

In [41]:
pd.concat([df1, df2], ignore_index=True)

    a   b    c     d
0   0   1  2.0   NaN
1   3   4  5.0   NaN
2   6   7  8.0   NaN
3   9  10  NaN  11.0
4  12  13  NaN  14.0
5  15  16  NaN  17.0

In [ ]:
231